{% extends 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>display_cars</title>
{% endblock %}
</head>
{% block body_block %}
<body>
 
   <center>
    <table border="2px">
        <tr>
            <th>NAME</th>
            <th>BRAND</th>
            <th>PRICE</th>
            <th>MILEAGE</th>
            <th>SEATING</th>
            <th>FUEL_TYPE</th>
            <th>TRANSMISSION</th>
            <th>HORSE_POWER</th>
            <th>BODY_TYPE</th>
            <th>DESCRIPTION</th>
            <th>IMAGE</th>
        </tr>

        {% for CO in QCO %}
        <tr>
            <td>{{CO.name}}</td>
            <td>{{CO.brand}}</td>
            <td>{{CO.price}}</td>
            <td>{{CO.mileage}}</td>
            <td>{{CO.seating}}</td>
            <td>{{CO.fuel_type}}</td>
            <td>{{CO.transmission}}</td>
            <td>{{CO.horsepower}}</td>
            <td>{{CO.body_type}}</td>
            <td>{{CO.description}}</td>
            <td>{{CO.image}}</td>

        </tr>
        {% endfor %}

    </table>    
   </center>
</body>
{% endblock %}
</html>